.ant-layout-has-sider
  min-height 100%
.ant-layout-header{
  line-height: inherit;
  position fixed
  width 100%
}
.ant-layout-content{
  box-sizing: border-box;
  margin-top 80px!important;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}